body {
    background-image: url(img/achtergrond.jpg);
}

#header {   
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-family: "Arial";
    border: 3px inset #000000;
    border-radius: 1%;
    background-color: #00520a;
}



#uitleg {
    font-family: "Helvetica";
    color: #ffffff;
    text-align: center;
    border: 3px solid white;
    width: 750px;
    position: relative;
    
}

#mc1 {
    background-image: url(img/logo.png);
    width: 200px;
    height: 200;
    display: block;
    box-shadow: 2px 2px grey;
}

#mc2 {
    width: 500;
    height: 450;
    display: block;
    box-shadow: 2px 2px grey;
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}